.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #000 solid 1px;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
}

.cell:hover {
  cursor: pointer;
}

.on {
  background-color: #000;
}

.off {
  background-color: #fff;
}